<h1> Wish Index </h1>

<% @wishes.each do |wish| %>
    <p><%= link_to wish.champ.name, skin_path(skin) %></p>
<% end %>

<% @wishes.each do |wish| %>
    <p><%= link_to @wish.name, champ_path(champ) %></p>
<% end %>